/* Header section css */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.tagline{
	margin:20px 0 0;
	font-size: 2em;
	font-weight: 600;
	-webkit-transition:all 0.7s ease-in-out;
	-moz-transition:all 0.7s ease-in-out;
	-o-transition:all 0.7s ease-in-out;
	-ms-transition:all 0.7s ease-in-out;
	transition:all 0.7s ease-in-out;
}

.sub-tagline{
	margin:0;
	font-size: 1em;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-transition:all 0.7s ease-in-out;
	-moz-transition:all 0.7s ease-in-out;
	-o-transition:all 0.7s ease-in-out;
	-ms-transition:all 0.7s ease-in-out;
	transition:all 0.7s ease-in-out;
}

.lift-text .tagline {
  margin: 0; 
}
.lift-text .sub-tagline {
  opacity: 1; 
}

.noshow {
	color: black; }

/* Bio section css */
section h3.section-subheading.bio-quote {
	margin-bottom: 40px;
}

.img-bio {
	margin-top: 50px;
}

.bio-heading {
	text-transform: none;
}

/* Skills section css */
li.skills {
	font-family: 'Ubuntu', monospace;
	display: inline-block;
	font-weight: normal; 
	margin: 10px 0px 5px 5px;
}
ul.skills {
	list-style: none;
	padding: 0px;
}
tbody.skills {
	font-family: 'Ubuntu', monospace;
}

span.label {
	font-weight: normal; 
}
.label {
	font-size: medium
}

/* Portfolio section css */
.img-portfolio {
	width: 360px;
	height: 330px;
}

#carousel-peprally {
	width: 400px; 
	margin: 0 auto;
}

.portfolio-modal .modal-content .descrip-2048 {
	margin-bottom: 10px;
}

/* Experience section css */
.popover-content {
	color: black;
	font-family: 'Ubuntu', monospace;
}

/* General css */
.ubuntu {
	font-family: 'Ubuntu', monospace;
}