  <!DOCTYPE html>
  <html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Experience</title>

    <!-- Style Links -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/assets/css/custom.css" rel="stylesheet">
    <link href="/static/assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/assets/css/scrolling-nav.css" rel="stylesheet">

    <style>
    .jumbotron {
      background: url("/static/assets/images/jumbotron_hulk.jpg") right -325px;
      background-color: white;
      /*position: fixed;*/
      width: 100%;
      padding-top: 150px;
      padding-bottom: 175px;
      font-family: "gaspar", Arial, serif;
      color: white;
    }
    .jumbotron h1,
    .jumbotron .h1 {
      padding-top: 50px;
      font-size: 100px;
      font-weight: bold;
    }
    .btn-success{
      color: #FFF;
    }
    .nav-header{
      padding-left: 15px;
      font-size: 12px;
    }
    .nav-dropdown{
      font-size: 12px;
    }
    .dropdown-menu .divider{
      background-color: gray;
    }
    .subheading{
      font-size: 45px;
    }
    </style>

  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          </button>
          <a class="navbar-brand page-scroll" href="index"><b>JW</b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">

            <li class="dropdown">
              <a class="dropdown-toggle" data-hover="dropdown" href="index">Home<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="nav-dropdown"><a class="page-scroll" href="index#about">About</a></li>
                <li class="nav-dropdown"><a class="page-scroll" href="index#contact">Contact</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-hover="dropdown" href="education">Education<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="nav-dropdown"><a class="page-scroll" href="education#grades">Grades</a></li>
                <li class="nav-dropdown"><a class="page-scroll" href="education#awards">Awards</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-hover="dropdown" href="experience">Experience<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="nav-dropdown"><a class="page-scroll" href="#page-top">Top</a></li>
                <li class="nav-dropdown"><a class="page-scroll" href="#lumotune">Hardware Designer (Lumotune)</a></li>
                <li class="nav-dropdown"><a class="page-scroll" href="#ims">Software Engineer (IMS)</a></li>
                <li class="nav-dropdown"><a class="page-scroll" href="#zspace">Display Engineer (zSpace)</a></li>
                <li class="nav-dropdown"><a class="page-scroll" href="#ignis">Engineering Intern (IGNIS Innovation)</a></li>
                <li class="nav-dropdown"><a class="page-scroll" href="#pck">Patent Services IT Assistant (PCK Inc)</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-hover="dropdown" href="portfolio">Portfolio<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="nav-dropdown"><a class="page-scroll" href="portfolio#projects">Personal Projects</a></li>
                <li class="nav-dropdown"><a class="page-scroll" href="portfolio#skills">Skills Summary</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-hover="dropdown">Contact<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="nav-dropdown"><a class="page-scroll" href="index#contact"><i class="fa fa-edit"></i> Leave a Message</a></li>
                <li class="nav-dropdown"><a href="mailto:jy7wang@uwaterloo.ca" target="new"><i class="fa fa-envelope"></i> jy7wang@uwaterloo.ca</a></li>
                <li class="divider"></li>
                <li class="nav-header"><b>Social Media</b></li>
                <li class="nav-dropdown"><a href="https://www.facebook.com/jeremy.wang.3990" target="new"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                <li class="nav-dropdown"><a href="https://ca.linkedin.com/pub/jeremy-wang/38/b95/153" target="new"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
                <li class="nav-dropdown"><a href="https://twitter.com/thejerbotron" target="new"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                <li class="nav-dropdown"><a href="http://instagram.com/jereremy22" target="new"><i class="fa fa-instagram"></i> Instagram</a></li>
              </ul>
            </li>
            <form class="navbar-form navbar-left" role="navigation">
              <a class="btn btn-info btn-sm" aria-label="Left Align" href="/static/coop/resume.pdf" target="_blank">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span> View Printable Resume 
              </a>
            </form>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <!-- JUMBOTRON -->
    <section id="intro">
      <div class="jumbotron"> 
        <div class="container"> 

          <div class="col-md-12"> 
            <h1>EXPERIENCE</h1>
            <p>
              <ul class="list-inline">
                <li><a class="btn btn-primary btn-lg page-scroll" href="#lumotune">Lumotune</a></li>
                <li><a class="btn btn-primary btn-lg page-scroll" href="#ims">IMS</a></li>
                <li><a class="btn btn-primary btn-lg page-scroll" href="#zspace">zSpace</a></li>
                <li><a class="btn btn-primary btn-lg page-scroll" href="#ignis">IGNIS Innovation</a></li>
                <li><a class="btn btn-primary btn-lg page-scroll" href="#pck">PCK</a></li>
              </ul>
            </p> 
          </div> 
          <div class="col-md-8">
            <p class="quote">
              "An investment in knowledge pays the best interest"
            </p>
            <p class="author">
              - Benjamin Franklin
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="lumotune">
      <div class="container">
        <h1 style="margin-top:75px">
          <b>Hardware Design Engineer</b> <small>Lumotune, Waterloo, ON, Canada</small>
          <span class="alignright">
            <a href="http://lumotune.com/" target="new">
              <img src="/static/assets/images/lumotune_logo.png" alt="Lumotune" width="145" height="80">
            </a>
          </span>
        </h1>
        <h4>May 2014 - Aug 2014</h4>
        <hr class="style-three">
        <div class="row">
          <div class="col-md-6">
            <font size="5">Overview</font>
            <p>
              Lumotune was my latest and most involved internship experience. On a team of only 7 people, each member carried significant responsibilities in their respective roles. My role as the hardware designer involved designing an innovative high voltage, high frequency display driver from the ground up. Working under the supervisor of my hardware lead, I was in charge of the entire project development from simulation, to breadboard prototyping, to cycles of performance testing and debugging, to final schematic capture and PCB layout and finally bringing the product to life. Samples of the projects I worked on can be seen <a href="https://www.youtube.com/watch?v=WtGe42dWaf4" target="new">here</a> and <a href="http://youtu.be/BF8OGtP8cEI" target="new">here</a>.
            </p>
            <font size="5">Skills Acquired</font>
            <ul>              
              <li>Knowledge of LCD material science and Active vs. Passive Matrix display driver technology</li>
              <li>Experience in hardware component selection, circuit prototyping and PCB ordering/assembly</li>
              <li>Schematic Capture and PCB Layout experience of complex circuits up to 1000 components in Cad EAGLE</li>
              <li>Experience using LTSpice, PSpice and PSIM circuit simulation softwares</li>
              <li>Experience using Electric Imp platform and Squirrel programming language</li>
            </ul>
          </div>
          <div class="col-md-6">
            <font size="5">Evaluation: 
              <a href="coop/eval_lumotune.pdf" target="new"><b>Outstanding</b></a>
            </font>
            <blockquote>
              <font size="2">
                <p>
                  Jeremy has been an integral part of the team here at Lumotune and his work and contribution has been substantial in advancing the projects he worked on in the company. Furthermore his aptitude for learning and improving his knowledge and skills has been shown through his hardworking nature. His work on designing our next generation display drivers has been monumental and we would not be close to where we are without his help.
                  The main strengths I was able to observe in the past couple of months:
                  <ul>
                    <li>Enthusiasm and self improvement: Throughout the work term, Jeremy has shown that he is always eager to learn new things. This ranged from circuit theory, to optimal soldering techniques, to layout design. He also responds very well to feedback given throughout the term and has consistently improved his understanding of hardware and circuit theory and has grown substantially throughout the term. </li>
                    <li>Work Ethic: Tying in to the above, Jeremy is very hard working and dedicated towards his work. In order to meet deadlines, he was willing to stay very late many days in order to provide quality work on schedule. This work ethic is also one of the driving factors behind his self-improvement throughout the term.</li>
                    <li>Quality of Work: Jeremy consistently provides work that is at the best of his ability and will always make sure that the work he submits is up to par. Out of all the traits, this is the most unique since most students I have encountered will submit work that meets the requirements, rather than actually trying to achieve the best possible.</li>
                  </ul> 
                </p>
                <p>
                  Jeremy has been an Outstanding member of the team and I wish him all the best in whatever chooses to pursue.</p>
                  <font size="4"><small>Aman Muthreja, Hardware Lead, Lumotune</small></font>
                </font>
              </blockquote>
            </div>
          </div>
        </section>

        <section id="ims">
          <div class="container">
            <h1 style="margin-top:100px">
              <b>Software Engineer</b> <small>Intelligent Mechatronics Systems (IMS), Waterloo, ON, Canada</small>
              <span class="alignright">
                <a href="http://www.intellimec.com/" target="new">
                  <img src="/static/assets/images/ims_logo.png" alt="IMS" width="145" height="80">
                </a>
              </span>
            </h1>
            <h4>Sept 2013 - Dec 2013</h4>
            <hr class="style-three">
            <div class="row">
              <div class="col-md-6">
                <font size="5">Overview</font>
                <p>
                  My time at IMS is the only pure software work experience out of all my internship experiences. I was exposed to an agile team developement  environment where daily standups were held to update the project status. My role at IMS involved software development and QA testing on its embedded mobile platforms, desktop clients and web servers. A majority of my term was spent on finding and fixing bugs both on the frontend and backend of the web platform. I found it challenging but satisfying to design creative, flawless solutions to complex testing problems. Moreover, IMS gave me an excellent experience in learning about web design, web architecture and how data is accessed across the internet.
                </p>
                <font size="5">Skills Acquired</font>
                <ul>
                  <li>MVC client-server web architecture and backend database implementations</li>
                  <li>Testing and fixing bugs for a large scaled software project</li>
                  <li>Experience in writing SQL queries and scripts for database mining</li>
                  <li>Java, Javascript, HTML, JSP, CSS development</li>
                  <li>Experience using Eclipse IDE, Subversion and and JIRA project management software</li>
                </ul>
              </div>
              <div class="col-md-6">
                <font size="5">Evaluation: 
                  <a href="coop/eval_ims.pdf" target="new"><b>Excellent</b></a>
                </font>
                <blockquote>
                  <ul>
                    <li>Highly regarded by all members of the team</li>
                    <li>Asks questions that show he is involved in the work</li>
                    <li>Has done some development and development support</li>
                    <li>Both quality / quantity were great</li>
                  </ul>
                  <p>All in all, very happy with his work.</p>
                  <small>Tim Donkersgoed, Manager, Product Development Quality</small>
                </blockquote>
              </div>
            </div>
          </div>
        </section>

        <section id="zspace">
          <div class="container">
            <h1 style="margin-top:100px"><b>Display Engineer</b> <small>zSpace, Mountain View, California, USA</small>
              <span class="alignright">
                <a href="http://zspace.com/" target="new">
                  <img src="/static/assets/images/zspace_logo.png" alt="zSpace">
                </a>
              </span>
            </h1>
            <h4>Jan 2013 - Apr 2013</h4>
            <hr class="style-three">
            <div class="row">
              <div class="col-md-6">
                <font size="5">Overview</font>
                <p>
                  I was hired as a display engineer to learn and understand display architecture so that I can help design and develop a display viewing angle measurement system to measure the performance of LCD displays. My training involved introduction to LCD display architecture including backlight, LCD optics, color theory, video scalar functioning and how display measurements are made. By the end of the term, I designed a fully automated viewing angle measurement system involving two stepper motors and a Konica Minolta Display Color Analayzer. I had full control of the project including the mechancial design, embedded and GUI software development. I later installed and implemented the automated viewing angle measurement system to the production line to help increase the production efficiency.      
                </p>
                <font size="5">Skills Acquired</font>
                <ul>
                  <li>Knowledge of LCD architecture, color theory and 3D stereoscopics display technology</li>
                  <li>Embedded software development and interfacing with motor controllers and other peripherals</li>
                  <li>Software development and scripting experience in MATLAB, Java and C#</li>
                  <li>Experience in installing and training production workers of automation software</li>
                </ul>
              </div>
              <div class="col-md-6">
                <font size="5">Evaluation: 
                  <a href="coop/eval_zspace.pdf" target="new"><b>Outstanding</b></a>
                </font>
                <blockquote>
                  <p>
                    Jeremy exceeded my expectations of how useful he would be to my team. I gave him a hard task as soon as he showed up, which involved getting new HW working, writing new SW to operate it, learning new measurement techniques for displays, and understanding enough of a sizable legacy SW code base to integrate his SW with it. He excelled at all of this.
                  </p>
                  <small>Mark Flynn, Director of Displays, zSpace</small>
                </blockquote>
              </div>
            </div>
          </div>
        </section>

        <section id="ignis">
          <div class="container">
            <h1 style="margin-top:100px">
              <b>Engineering Intern</b> <small>IGNIS Innovation, Waterloo, ON, Canada</small>
              <span class="alignright">
                <a href="http://www.ignisinnovation.com/" target="new">
                  <img src="/static/assets/images/ignis_logo.png" alt="IGNIS" witdh="131" height="64">
                </a>
              </span>
            </h1>
            <h4>May 2012 - Aug 2012</h4>
            <hr class="style-three">
            <div class="row">
              <div class="col-md-6">
                <font size="5">Overview</font>
                <p>
                  I was hired as a software intern but quickly found myself working on a variety of software and hardware projects in a fast paced startup culture. At IGNIS, I was exposed to working in a real engineering R&D environment where I learned how to use lab instruments such as scopes and multimeters as well as valuable soldering techniques. I worked on a project that involved hacking a Canon scanner and designing an automated display measurement system using the Windows Image Acquisition (WIA) API in Python. Other projects I worked on included creating tests to validate and debug analog PCBs and other hardware and designing a frontend data parsing software in Visual C# .NET.
                </p>
                <font size="5">Skills Acquired</font>
                <ul>
                  <li>Experience in working under constant pressure and in fast paced environments</li>
                  <li>Hands on hardware experience in soldering and using oscilloscopes, spectrum analyzers and DMMs</li>
                  <li>Software scripting and development in Python and Visual C#</li>
                  <li>Knowledge of AMOLED, LCD architecture and other display technology</li>
                </ul>
              </div>
              <div class="col-md-6">
                <font size="5">Evaluation: 
                  <a href="coop/eval_ignis.pdf" target="new"><b>Excellent</b></a>
                </font>
                <blockquote>
                  <p>Jeremy is a fast learner who shows personal initiative to learn about op-amps in his work. He works extremely well with others, is humble and eager to understand more about work processes. He adapts quickly when switching between completely unrelated tasks, and fits well into a small company environment. While limited in experience, Jeremy has room for growth in creative problem solving by proposing novel solutions to existing problems and identifying opportunities for showing initiative towards higher-priority tasks. Overall very enthusiastic towards work.</p>
                  <small>J. Marcel Dionne, Director of Engineering, IGNIS Innovation</small>
                </blockquote>
              </div>
            </div>
          </div>
        </section>

        <section id="pck">
          <div class="container">
            <h1 style="margin-top:100px">
              <b>Patent Services IT Assistant</b> <small>PCK Inc., Toronto, Canada</small>
              <span class="alignright">
                <a href="http://www.pckip.com/" target="new">
                  <img src="/static/assets/images/pck_logo.png" alt="PCK">
                </a>
              </span>
            </h1>
            <h4>Sept 2011 - Dec 2011</h4>
            <hr class="style-three">
            <div class="row">
              <div class="col-md-6" style="margin-bottom:75px">
                <font size="5">Overview</font>
                <p>I supported and administered the backend database of an IP software system called <a href="http://www.patrix.com/" target="new">Patrix</a>. Responsibilities included managing and creating patent workflows, office actions, batch jobs and document templates. Given the nature of the IP law firm, any changes made to the database needed to be flawless and any mistakes were unforgivable. Other projects I worked on included the migration of local server applications to hosted cloud servers and the testing, architecting and documentation of the migration process.</p>
                <font size="5">Skills Acquired</font>
                <ul>
                  <li>Experience in testing and fixing database related bugs </li>
                  <li>Experience in writing SQL commands and scripts</li>
                  <li>Technical writing and presentation skills working with professional lawyers</li>
                  <li>Knowledge of server architecture and server migration process</li>
                </ul>
              </div>
              <div class="col-md-6">
                <font size="5">Evaluation: 
                  <a href="coop/eval_pck.pdf" target="new"><b>Excellent</b></a>
                </font>
                <blockquote>
                  <p>Jeremy did an exceptional job in learning and administrating a very technical program in a short period of time. He was able to deliver when needed, often in a very detail oriented environment.</p>
                  <small>Daniel Casas, IT Systems Manager, PCK Inc.</small>
                </blockquote>
              </div>
            </div>
          </div>
        </section>

        <!-- Footer SECTION -->
        <section id="footer">
          <div class="black-background">
            <div class="container">

              <hr class="style-one">

              <div class="row">
                <ul class="list-inline text-center">
                  <li><a target="new" href="https://www.facebook.com/jeremy.wang.3990" class="btn btn-lg btn-primary"><i class="fa fa-facebook"></i></a></li>
                  <li><a target="new" href="https://twitter.com/thejerbotron" class="btn btn-lg btn-primary"><i class="fa fa-twitter"></i></a></li>
                  <li><a target="new" href="https://ca.linkedin.com/pub/jeremy-wang/38/b95/153" class="btn btn-lg btn-primary"><i class="fa fa-linkedin"></i></a></li>
                  <li><a target="new" href="http://instagram.com/jereremy22" class="btn btn-lg btn-primary"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <div class="col-md-4">
                  <div align="left">
                    <i class="fa fa-edit"></i> Designed by Jeremy Wang using Twitter Bootstrap
                  </div>
                </div>
                <div align="right">
                  <a href="#page-top" class="btn btn-sm btn-primary page-scroll"><i class="fa fa-hand-o-up"></i> Back to top</a>
                </div>
              </div>
            </div>
          </div>
        </section>

      <!-- Javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="/static/assets/js/jquery.js"></script>
      <script src="/static/assets/js/bootstrap.js"></script>
      <script src="/static/assets/js/bootstrap.min.js"></script>

      <!-- Tooltip Popover JS -->
      <script src="/static/assets/js/bootstrap-tooltip.js"></script>
      <script src="/static/assets/js/bootstrap-popover.js"></script>

      <!-- Scrolling JS -->
      <script src="/static/assets/js/jquery.easing.min.js"></script>
      <script src="/static/assets/js/scrolling-nav.js"></script>

      <!-- Dropdown JS -->
      <script src="/static/assets/js/bootstrap-dropdown.js"></script>
      <script src="/static/assets/js/bootstrap-hover-dropdown.js"></script>

      <script>$(function () { $("[data-toggle='popover']").popover(); }); 
      </script>

    </body>
    </html>
