/*regular*/
@font-face {
	font-family: 'gaspar';
	src: url('fonts/Gaspar_Regular.otf');
}
/*bold*/
@font-face {
	font-family: 'gaspar';
	src: url('fonts/Gaspar_Bold.otf');
	font-weight: bold;
}

.gaspar-font {
	font-family: "gaspar", Arial, serif;
}

.quote{
	text-align: left;
	font-weight: bold;
}
.bio{
	font-family: "gaspar", Arial, serif;
	padding-bottom: 375px;
}
.contact{
	font-family: "gaspar", Arial, serif;
	color: #FFF;
}
.footer{
	color: #333;
}
.profileImg{
	width: 200px;
	height: 200px;
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
}
hr.style-one {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,255), rgba(0,0,0,0)); 
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,255), rgba(0,0,0,0)); 
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,255), rgba(0,0,0,0)); 
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,255), rgba(0,0,0,0)); 
}
hr.style-two {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
hr.style-three {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}
.black-background{
	background-color: #161616;
	padding-top: 25px;
	padding-bottom: 25px;
}
.container{
	font-family: "gaspar", Arial, serif;
}
/* Education Page */
.panel-title{
	font-family: "gaspar", Arial, serif;
	color: black;
}
.popover{
	border-width: medium;
	border-color: black;
	width: auto;
}
.popover-title{
	font-weight: bold;
}
.alignright {
	float: right;
}